<!-- IF OPTIONS_NUMBER and ((S_VIEWTOPIC and S_QUICK_REPLY) or S_IN_POSTING) -->
<script type="text/javascript">
// <![CDATA[
	<!-- IF S_VIEWTOPIC and S_QUICK_REPLY -->var form_name = 'qr_postform';<!-- ELSE -->var form_name = 'postform';<!-- ENDIF -->
	var text_name = 'message';

	var optionsNumber = {OPTIONS_NUMBER};
	var optionsList = new Array({OPTIONS_NUMBER});
	var optionsKeys = new Array({OPTIONS_NUMBER});

<!-- BEGIN patternrow -->
	optionsList[{patternrow.ID}] = '{patternrow.VALUE}';
	optionsKeys[{patternrow.ID}] = '{patternrow.KEY}';
<!-- END patternrow -->

	function toogle_pattern_box()
	{
		phpbb.toggleDisplay('pattern_box');
		e = document.getElementById('pattern_box');
	}
	function pattern_box() {
		var r = 0, text = '';
		for (r = 0; r < optionsNumber; r++)
		{
			text += '[b]'+'[color=#{QUEST_COLOR}]'+optionsList[r]+'[/color]'+'[/b]: '+'[color=#{ANSWER_COLOR}]'+document.forms['pattern'].elements[optionsKeys[r]].value+'[/color]'+'\r\n';
		}
		insert_text(text);
	}

	function clear_box() {
		insert_text('');
	}
// ]]>
</script>
<style>
input.close
{
	color: #105289;
	border: none;
	background: none;
	cursor: pointer;
	text-align: center;
}
input.close:hover
{
	color: #D31141;
	text-decoration: underline;
}
</style>
<div id="pattern_box" class="phpbb_alert" style="top: 5px; width:800px; max-height: 600px; display:none">
	<form name=pattern>
		<div class="panel" id="patternbox">
			<div class="inner">
				<h3>{L_PATTERN}</h3>
				<fieldset style="max-height: 400px; overflow-y: scroll;">
				<!-- BEGIN patternrow -->
					<dl>
						<dt><label style="padding-bottom:0px;" for="{patternrow.ID}">{patternrow.VALUE}</label><!-- IF patternrow.EXPLAIN --><span>{patternrow.EXPLAIN}</span><!-- ENDIF --></dt>
						<dd><input type="text" tabindex="{patternrow.ID}" name="{patternrow.KEY}" id="{patternrow.ID}" size="25" class="inputbox" /></dd>
					</dl>
				<!-- END patternrow -->
				</fieldset>
			</div>
		</div>
		<div class="panel bg3">
			<div class="inner">
				<fieldset class="submit-buttons">
					<input type="button" name="post" value="{L_SUBMIT}" class="button1" onclick="pattern_box();toogle_pattern_box();" /><br />
					<br /><input class="close" value="{L_CLOSE_WINDOW}" onclick="clear_box(); toogle_pattern_box()">
				</fieldset>
			</div>
		</div>
	</form>
</div>
<!-- ENDIF -->
